

.pool-percentage-btn {
    margin-right: 7px;
    padding: 5px 10px;
    border: solid 1px rgb(108, 69, 115);
    border-radius: 7px;
    cursor: pointer;
    color: white;
}
.pool-percentage-btn:hover {
    margin-right: 7px;
    padding: 5px 10px;
    border: solid 1px rgb(108, 69, 115);
    border-radius: 7px;
    color: white;
    background-color: rgb(145, 122, 150);
    animation-delay: 3s;
}