.main-body {
    background-image: url('../../img/main-back.webp');
    background-position: 100% 0;
    background-size: 849px 643px;
    background-repeat: no-repeat;
}
.p-main {
    padding: 3% 5%;
}
.text-main-color {
    color: #d74015;
}
.fs-14 {
    font-size: 14px;
}
.fs-19 {
    font-size: 19px;
}
.swap-card{
    width: 30%;
    height: 300px;
    min-width: 320px;
    border-radius: 30px;
    background-color: rgba(54,41,59,.6);
}
.swap-card2{
    height: 300px;
    min-width: 320px;
    border-radius: 30px;
    background-color: rgba(54,41,59,.6);
}
.min-100 {
    min-width: 100px;
}
.input-form {
    background-color: #27212b;
    color: white;
    padding: 12px 24px;
    width: 100%;
    outline: none;
    animation-duration: 1000ms;
}
.select-form {
    background-color: #27212b;
}
.line-text {
    color: rgb(91, 52, 84);
    font-size: 30px;
}
.get-type {
    width: 80%;
    padding: 10px 6px;
    background-color: #27212b;
    border: none;
    outline: none;
    margin-left: 10px;
}
.select {
    width: 95%;
    background-color: #27212b;
    padding-right: 12px;
    position: relative;
}
.pull-right {
    text-align: right;
}
.offer-btn {
    cursor: pointer;
    background-color: #ff626e;
    padding: 12px 14px;
    text-align: center;
    font-size: 19px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 20%), 0 4px 50px rgb(227 87 96 / 50%), 0 60px 150px rgb(227 87 96 / 62%);
}
.offer-btn:hover {
    background-color: #c54c56;
    padding: 12px 14px;
    text-align: center;
    font-size: 19px;
    animation: animateGlow 2s ease 1;
    box-shadow: 0 4px 30px rgb(0 0 0 / 20%), 0 4px 50px rgb(227 87 96 / 50%), 0 60px 150px rgb(227 87 96 / 62%);
}
.main-title {
    width: 400px;
    padding: 25px
}
.text-gray {
    color: #a0789c;
    text-align: justify;
}
.w-3 {
    width: 33%;
    min-width: 360px;
}
.text-gray .w-50 {
    min-width: 380px;
}
.min-267 {
    min-width: 300px;
}
.item-card {
    background-color: #36293b;
    padding: 15px;
    margin: 15px;
    height: 250px;
    border-radius: 15px;
}
.item-card:hover {
    background-color: #4c384a;
}
.item-title {
    color: bisque;
}
.item-btn {
    background-color: #20262b43;
    color: rgb(189, 145, 217);
    cursor: pointer;
    border: solid 3px rgba(81, 59, 74, 0.2);
    text-align: center;
    padding: 8px;
}
.item-btn:hover {
    background-color: #3e4b5443;
    animation: animateGlow 2s ease 1;
    color: rgb(168, 129, 193);
}
.item-icon {
    background-color: #36293b;
    color: #27212b;
}
.long-bar {
    background-color: rgba(54,41,59,.6);
    border-radius: 18px;
}
.fs-18 {
    font-size: 18px;
}
.cum-red {
    color: #e35760;
}
.recharts-cartesian-axis-tick {    
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
    color: white!important;
}
.xrp-chart {
    height: 320px;
    width: 370px;
    background-color: #2f2535;
}

.main-price-part {
    background-color: #276cb686;
    padding: 28px;
    border-radius: 12px;
}
.price-part {
    width: 70%;
    min-height: 350px;
}
.line-height-4 {
    line-height: normal;
}
.QA {
    background-color: #36293b;
    padding: 10px 25px;
    border-radius: 12px;
}
.footer {
    background-color: #181919;
}
.footer-image {
    height: 350px;
    width: 100%;
    background-image: url('../../img/footer-back.webp');
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.contract-form {
    padding: 16px;
    color: black;
    outline: none;
    width: 240px;
    font-size: 18px;
}
.send-btn {
    background-color: #e35760;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 12px;
}
.send-btn:hover {
    background-color: #ff7f87;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 12px;
    -webkit-animation:fade-in 5s;
    -webkit-animation-delay:15s;
}
.line-block {
    display: inline-block;
    margin: auto;
    width: 25px;
}
.cum-yellow {
    color: #fbff2d;
    font-weight: 700;
}
.text-grey {
    color: grey;
}
.subscripe {
    line-height: 25px;
}
.trust {
    font-size: 20px;
    font-weight: 400;
}
.fs-24{
    font-size: 24px;
}
.mr-40 {
    margin-right: 40px;
}
.pt-25 {
    padding-top: 17px;
}
.select-part {
    position: absolute;
    background: #27212b;
    width: 100%;
    right: 0px;
    z-index: 3;
    top: 47px;
}
.select-main-part {
    height: 300px;
    overflow: auto;
}
.search {
    background-color: #27212b;
    width: 90%;
    border: solid 1px rgb(40,40,40);
    padding: 7px 12px;
    outline: none;
    border-radius: 9px;
}
.sel-item:hover {
    background-color: #48374f;
}
.search-icon {
    position:absolute;
    right: 14px;
    color: #4c3a53;
}
.coin-name {
    font-size: 10px;
    color: #48374f;
}
.w-180 {
    width: 180px;
    background-color: #392937;
    border: #60475e;
}
.w-180:hover {
    width: 180px;
    background-color: #4d374a;
    border: #60475e;
}
.connect-btn-part {
    background-color: #392937;
    color: white;
    width: 180px;
}
.connect-btn-part>div {
    padding: 10px 15px;
}
.connect-btn-part>div:hover {
    background-color: #674a63;
}
