.main-body {
    background-image: url('../../img/main-back.webp');
    background-position: 100% 0;
    background-size: 849px 643px;
    background-repeat: no-repeat;
}
.p-main {
    padding: 20px 160px;
}
.text-main-color {
    color: #d74015;
}
.fs-14 {
    font-size: 14px;
}
.fs-19 {
    font-size: 19px;
}
.swap-card{
    width: 400px;
    height: 300px;
    border-radius: 30px;
    background-color: rgba(54,41,59,.6);
}
.input-form {
    background-color: #27212b;
    color: white;
    padding: 12px 24px;
    width: 100%;
    outline: none;
    animation-duration: 1000ms;
}
.select-form {
    background-color: #27212b;
}
.line-text {
    color: rgb(91, 52, 84);
    font-size: 30px;
}
.get-type {
    width: 80%;
    padding: 10px 6px;
    background-color: #27212b;
    border: none;
    outline: none;
    margin-left: 10px;
}
.select {
    width: 45%;
    background-color: #27212b;
    padding-right: 12px;
}
.pull-right {
    text-align: right;
}
.offer-btn {
    cursor: pointer;
    background-color: #ff626e;
    padding: 12px 14px;
    text-align: center;
    font-size: 19px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 20%), 0 4px 50px rgb(227 87 96 / 50%), 0 60px 150px rgb(227 87 96 / 62%);
}
.offer-btn:hover {
    background-color: #c54c56;
    padding: 12px 14px;
    text-align: center;
    font-size: 19px;
    animation: animateGlow 2s ease 1;
    box-shadow: 0 4px 30px rgb(0 0 0 / 20%), 0 4px 50px rgb(227 87 96 / 50%), 0 60px 150px rgb(227 87 96 / 62%);
}
.main-title {
    width: 35%;
    padding: 25px
}
.text-gray {
    color: #a0789c;
    text-align: justify;
}
.w-3 {
    width: 33%;
}
.item-card {
    background-color: #36293b;
    padding: 15px;
    margin: 15px;
    height: 250px;
    border-radius: 15px;
}
.item-title {
    color: bisque;
}
.item-btn {
    background-color: #20262b43;
    color: rgb(189, 145, 217);
    cursor: pointer;
    border: solid 3px rgba(81, 59, 74, 0.2);
    text-align: center;
    padding: 8px;
}
.item-btn:hover {
    background-color: #2d373e43;
    animation: animateGlow 2s ease 1;
    color: rgb(168, 129, 193);
}
.item-icon {
    background-color: #36293b;
    color: #27212b;
}
.long-bar {
    background-color: rgba(54,41,59,.6);
    border-radius: 18px;
}
.fs-18 {
    font-size: 18px;
}
.cum-red {
    color: #e35760;
}
.xrp-chart {
    height: 300px;
    background-color: #1e222d;
}
.line-height-4 {
    line-height: normal;
}
.QA {
    background-color: #36293b;
    padding: 10px 25px;
    border-radius: 12px;
}
.footer {
    background-color: #181919;
}
.footer-image {
    height: 350px;
    width: 100%;
    background-image: url('../../img/footer-back.webp');
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.contract-form {
    padding: 16px;
    color: black;
    outline: none;
    width: 400px;
    font-size: 18px;
}
.send-btn {
    background-color: #e35760;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 12px;
}
.send-btn:hover {
    background-color: #ff7f87;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 12px;
    -webkit-animation:fade-in 5s;
    -webkit-animation-delay:15s;
}
.line-block {
    display: inline-block;
    margin: auto;
    width: 25px;
}
.cum-yellow {
    color: #fbff2d;
    font-weight: 700;
}
.text-grey {
    color: grey;
}
.subscripe {
    line-height: 25px;
}
.trust {
    font-size: 20px;
    font-weight: 400;
}
.fs-24{
    font-size: 24px;
}
.mr-40 {
    margin-right: 40px;
}
